.head {
    border: 1px solid green;
}

.data {
    border: 2px solid red;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.imgData {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    border : 1px solid orange;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 5px 10px;
}